.about_us_paragraphs p {
    text-align: justify;
}




@media screen and (max-width: 992px) {

    .about_us_history {
        margin-top: 3rem!important;
    }
    .about_us_history .p1 {
        font-size: 6rem!important;
    }
    .about_us_history .p2 {
        font-size: 3.5rem!important;
    }
    .about_us_history .p3 {
        font-size: 3.5rem!important;
    }
}

@media screen and (max-width: 768px) {
    .vision-mission {
        margin-top: 3rem!important;
        padding: 1rem!important;
    }
    .vision-mission img {
        height: 8rem!important;
    }
    .vision-mission .row .col-md-6 {
        margin-bottom: 2rem!important;
    }
    .about_us_history {
        margin-top: 3rem!important;
    }
    .about_us_history .p1 {
        font-size: 5rem!important;
    }
    .about_us_history .p2 {
        font-size: 2.5rem!important;
    }
    .about_us_history .p3 {
        font-size: 2.5rem!important;
    }
}

@media screen and (max-width: 576px) {
    .about-title {
        padding: 1.3rem 0!important;
    }
    .about-title h2 {
        font-size: 1.5rem;
    }
    .about_us_history {
        margin-top: 2rem!important;
    }
    .about_us_history .p1 {
        font-size: 3rem!important;
    }
    .about_us_history .p2 {
        font-size: 1.5rem!important;
    }
    .about_us_history .p3 {
        font-size: 1.5rem!important;
    }
}