/* .about_us_paragraphs p {
    text-align: justify;
} */

/* h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
} */




@media screen and (max-width: 1200px) {

    .vision {
        padding: 0 2.6rem 0 1.2rem!important;
    }

    .mission {
        padding: 0 0.7rem 0 0.7rem!important;
    }
}


@media screen and (max-width: 992px) {

    .about_us_history {
        margin-top: 2rem!important;
        line-height: 2rem!important;
    }
    .about_us_history img {
        height: 4rem!important;
    }
    .about_us_history .p2 {
        font-size: 2rem!important;
    }
    .about_us_history .p3 {
        font-size: 2rem!important;
    }
}

@media screen and (max-width: 768px) {
    .vision-mission {
        margin-top: 3rem!important;
        padding: 1rem!important;
    }
    .vision-mission img {
        height: 8rem!important;
    }
    .vision-mission .row .col-md-6 {
        margin-bottom: 2rem!important;
    }
    .about_us_history {
        margin-top: 2rem!important;
        line-height: 1.8rem!important;
    }
    .about_us_history img {
        height: 4rem!important;
    }
    .about_us_history .p2 {
        font-size: 1.7rem!important;
    }
    .about_us_history .p3 {
        font-size: 1.7rem!important;
    }
    .vision {
        padding: 0 1rem!important;
    }

    .mission {
        padding: 0 1rem!important;
    }
}

@media screen and (max-width: 576px) {
    .about-title {
        padding: 1.3rem 0!important;
    }
    .about-title h2 {
        font-size: 1.5rem;
    }
    .about_us_history {
        margin-top: 2rem!important;
        line-height: 1.6rem!important;
    }
    .about_us_history img {
        height: 4rem!important;
    }
    .about_us_history .p2 {
        font-size: 1.5rem!important;
    }
    .about_us_history .p3 {
        font-size: 1.5rem!important;
    }
    .normal {
        display: none;
    }
    .small {
        display: block!important;
    }
}