.import_installation-p {
    text-align: center;
    padding: 0.8rem 0;
    color: white;
}

.food-safety p {
    font-size: 0.9rem;;
}

.machine-categories .col-md-4 {
    transition: all 0.7s!important;
}

.machine-categories .col-md-4 p {
    position: relative;
    top: 0rem;
    transition: all 0.7s!important;
}

.cat-hover {
    filter: brightness(60%);
    transition: all 0.7s!important;
}

.cat-hover-p {
    top: -6rem!important;
    transition: all 0.7s!important;
}

ul {
    list-style: none;
}
  
ul li::before {
    content: "•";
    color: #E07B3F;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}

.navbar-nav li::before {
    content: none!important;
}

.blue ul li::before {
    color: #254d88;
}

.spices ul li::before {
    color: #962f2f;
}


@media screen and (min-width: 1400px) {
    .contact-img {
        height: 25rem!important;
    }
    .machine-categories .col-md-4 {
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 1400px) {
    .contact-img {
        height: 23rem!important;
    }
    .machine-categories .col-md-4 {
        margin-bottom: 1.5rem;
    }
    .import_installation-p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 1200px) {
    .contact-img {
        height: 21rem!important;
    }
    .import_installation-p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 992px) {
    .contact-img {
        height: 19rem!important;
    }
    .machine-categories img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contact-img {
        height: 17rem!important;
    }
    .food-packaging .col-md-4 {
        text-align: center;
    }
    .food-packaging img {
        height: 18rem!important;
    }
    .food-safety-certificates .col-md-1 {
        padding-bottom: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .machinery-title {
        padding: 1.3rem 0!important;
    }
    .machinery-title h1 {
        font-size: 1.5rem;
    }
    .machinery-image {
        margin-top: 1.5rem!important;
    }
    .import_installation {
        margin-top: 2rem!important;
    }
    .import_installation-p {
        font-size: 1rem;
    }
    .import_image {
        margin-top: 2rem!important;
    }
    .machinery-image-abs {
        top: -3rem!important;
    }
    .blue {
        top: 0rem!important;
    }
    .list {
        padding: 1rem 2rem!important;
    }
    .machinery-image-abs-single {
        top: -3rem!important;
    }
    .machinery-title ul {
        margin-bottom: 0!important;
    }
    .dual-list {
        padding: 0 2rem!important;
    }
    .spices {
        margin-top: 0!important;
    }
    .spices img {
        top: -4rem!important;
        height: 20rem!important;
    }
    .spices .col-sm-7 {
        padding-top: 0!important;
    }
    .food-details {
        margin-top: 3rem!important;
        margin-bottom: 2rem!important;
    }
    .food-sub {
        padding-top: 1rem!important;
    }
    .food-sub h5 {
        font-size: 1rem!important;
    }
    .food-packaging {
        margin-top: 1rem!important;
    }
    .food-packaging img {
        height: 15rem!important;
    }
    .food-packaging .row {
        margin-bottom: 4rem!important;
    }
    .food-safety-certificates {
        margin-top: 3rem!important;
        text-align: center;
    }
    .food-safety-certificates img {
        height: 4rem;
    }
    .food-safety-certificates-row {
        padding: 0 1.5rem;
    }
    .thermal {
        margin-top: 3rem!important;
        margin-bottom: 2rem!important;
    }
}