@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
}


.navbar .dropdown-toggle::after {
    display: none!important;
}

.dropdown-menu {
    position: absolute;
    left: -4rem!important;
    margin-top: 0.5rem!important;
    padding-top: 2rem;
    font-size: 0.8rem;
    background-color: rgb(248, 206, 143);
}

.dropdown-menu .dropdown-item {
    border-bottom: 0.1px solid rgb(150, 150, 150, 0.1);
    margin-bottom: 0.5rem;
}

.navbar .nav-item {
    border-right: 1px solid #EB8262;
}
.navbar .nav-link {
    border-bottom: 2px solid transparent;
}

.navbar .nav-link:hover {
    border-bottom: 2px solid red;
}

.footer a {
    font-size: 0.9rem;
    display: block;
    font-weight: 500;
}

.footer p {
    font-size: 0.9rem;
    font-weight: 500;
}

.form-label {
    font-size: 0.9rem;
}





@media screen and (max-width: 992px) {
    .navbar img {
        height: 5.5rem!important;
    }
    .navbar-nav {
        margin-top: 1rem;
        text-align: center;
    }
    .navbar .nav-item {
        border-right: none;
        margin-bottom: 1rem;
    }
    .nav-link {
        display: inline-block!important;
    }
    .dropdown-menu .dropdown-item {
        text-align: center;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 2rem!important;
    }
}

@media screen and (max-width: 768px) {
    .navbar img {
        height: 5rem!important;
    }
    .footer a {
        font-size: 0.9rem;
        margin-bottom: 0.7rem!important;
    }
    .footer {
        padding: 2rem!important;
        text-align: center;
    }
    .footer .col-md-1 {
        padding: 1rem!important;
    }
    .footer .phone i {
        margin-right: 0.4rem!important;
    }
    .footer .email i {
        margin-right: 0.4rem!important;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 1.8rem!important;
    }
}

@media screen and (max-width: 576px) {
    .navbar img {
        height: 4rem!important;
    }
    #app {
        margin-top: 6.6rem!important;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 1.7rem!important;
    }
}